<div class="card mb-3 comment-card bg-white text-dark border-dark">
  <%= turbo_frame_tag "post-edit" do %>
    <div class="card-body">
      <div class="email-content-block p-2 rounded bg-light d-inline-block">
        <div class="email comment-user-email">
          <strong><%= comment.user.email.split('@').first %></strong>
        </div>
        <div class="content fs-7">
          <p class = "comment-user-content" ><%= comment.content %></p>
        </div>
      </div>
      <div class="buttons mt-2">
        <% if current_user.id == comment.user.id %>
          <%= link_to "Edit", edit_post_comment_path(@post, comment), class: "btn btn-sm btn-info rounded-pill me-1" %>
          <%= link_to "Delete", post_comment_path(@post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: 'comments-section' }, class: "btn btn-sm btn-danger rounded-pill me-1" %>
        <% end %>
        <%= turbo_frame_tag "comment-creation" do %>
          <%= link_to "Reply", new_post_comment_path(@post, parent_id: comment.id), class: "btn btn-sm btn-secondary rounded-pill" %>
        <% end %>
      </div>
    </div>
  <% end %>   
</div>


<div class="sub-comment">
  <%= render comment.comments %>
</div>

