<%= form_with model: [ @post, @comment ], class: "my-form", data: { turbo_frame: "comments-section" } do |form| %>
  <% if @comment.errors.any? %>
    <div class="text-danger">
      <ul>
        <% @comment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <%= form.text_area :content, class: "form-control", placeholder: "Write your comment here..." %>
    </div>
    <div class="ms-2 mt-3">
      <%= form.hidden_field :parent_id, value: @comment.parent_id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= button_tag type: 'submit', class: "btn btn-outline-none border-0" do %>
        <i class="bi bi-send  bi-lg"></i>
      <% end %>
    </div>
  </div>
<% end %>
