<div class="d-flex bg-light justify-content-center ">
  <div class="bg-white rounded col-10 col-md-8 mt-4 p-4 shadow">
    <%= turbo_frame_tag "post_#{@post.id}" do %>
      <div class="d-flex flex-column flex-sm-row justify-content-between">
        <div class="fs-6 fw-bold">
          <%= user_image(@post.user.image) %>
          <%= split_email(@post.user.email) %>
        </div>
        <div class="fs-3 fw-bold">
          <%= @post.title %>
        </div>
        <div class="fw-bold">
          <%= formatted_date(@post.created_at) %>
        </div>
      </div>
      <div data-controller="read-more" data-read-more-my-value="<%= @post.description %>" class="card-body mt-3">
        <div data-read-more-target="description"  class="text-break"><%= truncate_description(@post.description)%>
        </div>
        <% if @post.description.length > 120 %>
          <div data-action="click->read-more#toggle" data-read-more-target="toggleButton" class="mr-2 fst-italic text-primary read-more-less-button" role="button" >Read More
          </div>
        <% end %>  
      </div>
      <% if @post.image.attached? %>
        <div class="text-center mb-2"><%= image_tag @post.image, class: 'card-img-top rounded-3 img-fluid post-image'%>
        </div>
      <% end %>
      <div class="d-flex justify-content-between mt-2">
        <div>
          <%= render partial:'likes/button' , locals: { likeable: @post } %>
        </div>
        <% if current_user == @post.user %>
          <div class="d-flex justify-content-center">
            <%= link_to edit_post_path(@post), class: "btn btn-outline-none border-0" do %>
              <i class="bi bi-pen"></i>
            <% end %>
            <%= link_to  @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: '_top' }, class: "btn btn-outline-none border-0" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>  
  </div>
</div>
