<!-- Displaying single Post -->
<%= turbo_frame_tag "posts_section" do%>
  <%= render partial: "details" %>
<% end %>

<!-- Displaying comments -->
<%= turbo_frame_tag "comments-section" do %>
  <div>
    <p>
        <%= render @post.comments.where(parent_id: nil).includes(:user)%>
    </p>
  </div>

  <%= turbo_frame_tag "comment-creation" do %>
    <%= render partial:'comments/form' %>
  <% end %>
<% end %>


